<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.idea_lab.mapper.LabApplyMapper">
    <insert id="insertLabApplication" parameterType="com.example.idea_lab.pojo.LabSchedule">
        INSERT INTO lab_schedule (lab_id, semester_week, weekday, timeslot, course_name, teacher_name)
        VALUES (#{labId}, #{semesterWeek}, #{weekday}, #{timeslot}, #{courseName}, #{teacherName})
    </insert>
</mapper>

